{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Крутая дверь</span>
                        <span class="section-heading-lower">Дверь и ручка</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                 src="{% static 'assets/img/product_1.png'%}" alt="..."/>
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded"><p class="mb-0">Мы гордимся
                    нашей работой и показываем это.
                    Каждый заказ у нас, мы гарантируем, что вы получите
                    незабываемый опыт.
                    Наша знаменитая дверь из крыжовника,
                    непревзойдённая дверь из пальмы или что-то простое как дверь
                    из фольги,
                    вы к нам ещё вернётесь.</p></div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex me-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Крутые ручки и порожки</span>
                        <span class="section-heading-lower">Фурнитура и замочки</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                 src="{% static 'assets/img/product_2.png'%}" alt="..."/>
            <div class="product-item-description d-flex ms-auto">
                <div class="bg-faded p-5 rounded"><p class="mb-0">Наши сезонные
                    акции на замочки, Все ингредиенты локальные, отечественные и
                    православные.</p></div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Со всего света</span>
                        <span class="section-heading-lower">Ворох разного дерева</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                 src="{% static 'assets/img/product_3.jpg'%}" alt="..."/>
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded"><p class="mb-0">Путешествуем
                    по всему миру, собираем деревья, которыми гордимся. Когда вы
                    посетите нас, вы найдёте деревья со всего света,
                    главным образом из Беларуси. Мы продаём двери из разных
                    сортов деревьев. Посетите нас лично для больших деталей.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
